@import 'variables.css';

html, body {
  width: 100vw;
  height: 100vh;
  min-width: 350px;
  overflow-y: overlay;
  font-family: var(--font-family);
  font-size: var(--font-size-md);
  color: var(--text-color);
  background-color: var(--background-color);
}

h1, h2, h3, p {
  color: var(--text-color);
}

h1 { font-size: var(--font-size-xl); }
h2 { font-size: var(--font-size-lg); }

main {
  @apply flex flex-col items-center w-full h-full;
}

h2 {
  @apply p-5;
}

p {
  @apply p-1;
}